* {
  margin: 0;
  color: #926239;
}
.header {
  font-size: 30px;
  text-align: center;
  background-image: url(./IMG/beach.jpg);
  height: 65vh;
  padding-top: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.button {
  padding: 10px 25px;
  border: 1px solid #926239;
  border-radius: 10px;
  text-decoration: none;
  font-size: 18px;
}
p {
  margin-top: 20px;
  margin-bottom: 30px;
}

.main {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: 16px;
  text-align: center;
  line-height: 26px;
}
.s1 {
  background-color: #926239;
  color: #ffffff;
  padding: 20px;
}
.s2 {
  padding: 20px;
}

div {
  display: inline-block;
  background-color: #926239;
  width: 33%;
  height: auto;
  color: white;
  text-align: center;
  padding: 30px 0;
}
.d2 {
  background-color: #fff;
  color: inherit;
}
